---
layout: page
title: Blog
permalink: /blog/
---

<!-- Hero Start -->
<section id="global-header" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="display-1">From the Blog</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Horizontal Grid Start -->
<section id="team" class="horizontalGrid cardGrid container--margin">
    <div class="container">
        <div class="content">
            <div class="row">
                {% for post in site.posts %}
                  {% include post-area.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
