---
layout: page
title: Big Neon Team
permalink: /team/
---

{% include hero.html %}

<!-- Horizontal Grid Start -->
<section id="team" class="horizontalGrid cardGrid container--margin">
    <div class="container">
        <div class="content">
            <div class="row">
              {% for item in site.data.team.list %}
                <article class="horizontalGridItem col-sm-6 col-md-4 col-lg-3 col-6">
                  <div class="cardGridItem" data-quote="{% if item.quote %}true{% else %}false{% endif %}">
                    <div class="cardBorder">
                      <figure class="horizontalGridItem__imageContainer image">
                        <img src="{{ item.pic }}" alt="{{ item.name }}" />
                      </figure>
                      <div class="horizontalGridItem__copyContainer">
                        <div class="horizontalGridItem__header">
                          <h4><span>{{ item.name }}</span> {% if item.quote %}<i class="icon fa fa-caret-down"></i>{% endif %}</h4>
                          <strong class="display-eyebrow">{{ item.position }}</strong>
                        </div>
                        <div class="horizontalGridItem__content">
                          <strong>Why Big Neon?</strong>
                          <blockquote><p>{{ item.quote }}</p></blockquote>
                          {% comment %}https://material.io/components/cards/#behavior{% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              {% endfor %}
            </div>
        </div>
    </div>
</section>