---
layout: page
title: Why Big Neon
permalink: /why-big-neon/
---

{% include hero.html %}

<!-- Benefits Start -->
<div id="benefits" class="backgroundWhite">

    {% for item in site.data.why.list %}
    {% assign remainder = forloop.index | modulo: 2 %}
    <!-- Steps Start -->
    <section class="steps steps--Single">
        <div class="container container--margin">
            <div class="content flex-center{% if remainder == 1 %} flex-reverse{% endif %}">
                <div class="row">
                    <div class="col-md-6 steps__imageContainer">
                        <figure class="step__image image is-active" data-name="image-0">
                            <video autoplay loop>
                              <source src="{{ item.video }}" type="video/mp4">
                            </video>
                        </figure>
                    </div>
                    <div class="col-md-6 steps__copyContainer">
                        <h3>{{ item.heading }}</h3>
                        {{ item.post | markdownify }}
                        <ul>
                            {% for step in item.steps %}
                            <li class="step is-active" data-target="image-0">
                                <h4>{{ step.step }}</h4>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

</div>

{% include call-to-action.html %}