<!-- Call to Action Start -->
<section id="call-to-action">
  <div class="container">
  <div class="content text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="display-2">Let's get started</h1>
          <p>If you want modern, mobile ticketing backed by a company committed to moving beyond tickets, let’s discuss.</p>
          <a class="btn btn-primary btn-lg animated fadeInUp drift-open-chat" href="#contact-us" >Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>