<!-- Call to Action Start -->
<section id="call-to-action">
  <div class="container">
  <div class="content text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="display-2">{{ site.data.cta.heading }}</h1>
          <p>{{ site.data.cta.post }}</p>
          {% if site.data.cta.url == "Bot" %}
            <a class="btn btn-primary btn-lg animated fadeInUp drift-open-chat" href="https://support.bigneon.com/hc/en-us">{{ site.data.cta.button }}</a>
          {% else %}
            <a class="btn btn-primary btn-lg animated fadeInUp" href="{{ site.data.cta.url }}" >{{ site.data.cta.button }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>