<!-- footer Start -->
<footer>
  <div class="footbar-header">
    <div class="container">
      <div class="row">
        <nav class="col-md-8">
          <a class="footbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/logo.svg" alt="Big Neon">
          </a>
          <div class="row">
            <div class="footer__category col-sm">
              <h5>About Us</h5>
              <ul class="footer__links--secondary">
                <li><a href="{{ site.baseurl }}/">Our Story</a></li>
                <li><a href="{{ site.baseurl }}/team">Team</a></li>
                <li><a href="{{ site.baseurl }}/media">In the Media</a></li>
                <li><a href="{{ site.baseurl }}/press-kit">Press Kit</a></li>
              </ul>
            </div>
            <div class="footer__category col-sm">
              <h5>Sell Tickets</h5>
              <ul class="footer__links--secondary">
                <li><a href="{{ site.baseurl }}/why-big-neon">Why Big Neon</a></li>
                <li><a href="{{ site.baseurl }}/contact">Get Started</a></li>
              </ul>
            </div>
            <div class="footer__category col-sm">
              <h5>Blog</h5>
              <ul class="footer__links--secondary">
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/blog#case-studies">Case Studies</a></li>
              </ul>
            </div>
            <div class="footer__category col-sm">
              <h5>Support</h5>
              <ul class="footer__links--secondary">
                <li><a href="{{ site.baseurl }}/contact-us">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Ticket Support</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <aside class="col-md-4">
          <h4>🤟 Get Big Neon app now:</h4>
          <ul class="footer__links--app list-inline">
            <li class="list-inline-item"><a href="#"><img src="{{ site.baseurl }}/img/badge-apple.png" alt="Download on the App Store" /></a></li>
            <li class="list-inline-item"><a href="#"><img src="{{ site.baseurl }}/img/badge-google.png" alt="Get It on Google Play" /></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <div class="footbar-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="footer__links--secondary list-inline">
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><p>Copyright &copy;2019 Big Neon, Inc. All rights reserved.</p></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="footer__links--social list-inline">
            <li class="list-inline-item"><a href="#">Instagram</a></li>
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
            <li class="list-inline-item"><a href="#">Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
