<!-- footer Start -->
<footer>
  <div class="footbar-header">
    <div class="container">
      <div class="row">
        <nav class="col-md-12 col-lg-10">
          <div class="row">
            <div class="footer__category col-6 col-md-3 col-lg">
              <h5>About Big Neon</h5>
              <ul class="footer__links--secondary">
                <li><a href="{{ site.baseurl }}/">About Us</a></li>
                <li><a href="{{ site.baseurl }}/team">Our Team</a></li>
                <li><a href="{{ site.baseurl }}#">Partner With Us</a></li>
              </ul>
            </div>
            <div class="footer__category col-6 col-md-3 col-lg">
              <h5>Customers</h5>
              <ul class="footer__links--secondary">
                <li><a href="https://support.bigneon.com/hc/en-us">Support</a></li>
              </ul>
            </div>
            <div class="footer__category col-6 col-md-3 col-lg">
              <h5>Further Info</h5>
              <ul class="footer__links--secondary">
                <li><a href="https://www.bigneon.com/terms.html">Terms of Use</a></li>
                <li><a href="https://www.bigneon.com/privacy.html">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="footer__category col-6 col-md-3 col-lg">
              <h5>Follow Us</h5>
              <ul class="footer__links--secondary list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/Big-Neon-572473456442270" target="_blank"><img src="{{ site.baseurl }}/img/icon-facebook.png" alt="Facebook" /></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/big_neon" target="_blank"><img src="{{ site.baseurl }}/img/icon-instagram.png" alt="Instagram" /></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/bigneon" target="_blank"><img src="{{ site.baseurl }}/img/icon-twitter.png" alt="Twitter" /></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <aside class="col-md-12 col-lg-2">
          <h4>Download Now:</h4>
          <ul class="footer__links--app list-inline">
            <li class="list-inline-item"><a href="https://itunes.apple.com/us/app/big-neon/id1445600728?ls=1&mt=8" target="_blank"><img src="{{ site.baseurl }}/img/badge-apple.png" alt="Download on the App Store" /></a></li>
            <li class="list-inline-item"><a href="https://play.google.com/store/apps/details?id=com.bigneon.mobile" target="_blank"><img src="{{ site.baseurl }}/img/badge-google.png" alt="Get It on Google Play" /></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <div class="footbar-footer">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-2">
          <a class="footbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/logo.svg" alt="Big Neon">
          </a>
        </div>
        <div class="col-8 col-md-10">
          <p class="footbar-copyright text-right">
            <small>Copyright &copy;2020 Big Neon, Inc. All rights reserved.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
