<!-- Header Start -->
<header class="fixed-top backgroundWhite">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png" alt="Big Neon"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/" id="nav-dropdown-01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
              <div class="dropdown-menu" aria-labelledby="nav-dropdown-01">
                <a class="dropdown-item" href="{{ site.baseurl }}/">Our Story</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/team">Team</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/media">Big Neon in the Media</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/media#media-kit">Press Kit</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/why-big-neon">Why Big Neon</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
      </nav>
      </div>
    </div>
  </div>
</header><!-- Header Close -->
