<!-- Slider Start -->
<section id="global-header" class="hero hero--withVideo{% if page.hero == "full" %} hero--full{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="display-1">{{ page.title }}</h1>
                    <div class="hero__videobox">
                      <video class="hero__video" autoplay muted playsinline loop>
                        <source src="{{ site.baseurl }}/img/about/hero.mp4" type="video/mp4">
                      </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>