---
layout: page
---

<!-- Hero Start -->
<section id="global-header" class="hero hero--withImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="display-2">From the Blog</h1>
                    {% if page.thumbnail %}
                      <img src="{{ site.baseurl }}/{{ page.thumbnail }}" />
                    {% else %}
                      <img src="{{ site.baseurl }}/img/blog/placeholder.jpg" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro Start -->
<section id="post">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="post">
              <div class="blogPost__headerContainer">
                <h1>{{ page.title }}</h1>
                <p class="display-eyebrow">{% if page.author %}By {{ page.author }}, {% endif %}{{ page.date | date: "%B %-d, %Y" }}</p>
              </div>
              <div class="blogPost__copyContainer">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Horizontal Grid Start -->
<section id="team" class="horizontalGrid cardGrid container--margin backgroundWhite">
    <div class="container">
        <div class="content">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Keep reading</h1>
              </div>
            </div>
            <div class="row">
                {% for post in site.posts limit: 3 %}
                  {% include post-area.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>